---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Team from '~/components/widgets/Team.astro';
import Project from '~/components/widgets/Project.astro';
import MainFeatures from '~/components/widgets/MainFeatures.astro';
import Milestones from '~/components/widgets/Milestones.astro';

import { SITE } from '~/utils/config';
import { getBlogPermalink } from '~/utils/permalinks';
import { team, features, milestones } from '~/data';

const metadata = {
  title: `${SITE.name}`,
};
---

<Layout metadata={metadata}>
  <!-- Hero ******************* -->

  <Hero
    tagline="AI diploma project"
    actions={[
      {
        variant: 'primary',
        text: 'Open shiny app',
        href: 'https://apies.textminr.tech/docs',
        icon: 'tabler:external-link',
      },
      { text: 'View Project Updates', href: getBlogPermalink() },
    ]}
  >
    <Fragment slot="title">
      TextminR - Data Scraping & API Providing
    </Fragment>

    <Fragment slot="subtitle">
      Web-Wide-Words: One API for a bunch of texts.
    </Fragment>
  </Hero>

  <!-- About this project ************** -->

  <Project
    id="about"
    title="About this project"
    subtitle="Our goal is to create an efficient API which provides large datasets of texts. Furthermore, we want to make it possible for users to upload their own texts. The API is going to be used by the frontend team to create appealing visualizations."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Project>

  <!-- Team ************** -->

  <Team
    title="Our team"
    subtitle="We are a team of passionate data scientists with a shared vision to change the world."
    members={team}
  ></Team>

  <!-- Main features ************** -->

  <MainFeatures
    title="Main features"
    subtitle=""
    items={features}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </MainFeatures>

  <!-- Milestones ****************** -->

  <Milestones
    title="Milestones"
    milestones={milestones}
  />
</Layout>
